* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: grey;
  color: white;
}

.text{
  color: black;
}

.todo-header{
  display: flex;
  align-items: center;
  gap: 32px;
}

.todo-container{
  display: flex;
  gap: 24px;
  background-color: white;
  padding: 8px;
  width: 320px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.todo-input{
  appearance: none;
  background-color: transparent;
  border: none;
}
/* .todo-input::hover{
  appearance: none;
  background-color: transparent;
  border: none;
} */

.task{
  display: flex;
  padding: 8px;
  background-color: white;
  width: 320px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}


.checkbox{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0;
}
.checkbox:checked + .label{
  text-decoration: line-through;
}

.checkbox:checked{
  background-color: purple;
}

.cross-button{
  appearance: none;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0;
}